[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
Type=simple
ExecStart=/opt/prometheus-apps/prometheus/bin/prometheus \
    --config.file /opt/prometheus-apps/prometheus/prometheus.yml \
    --storage.tsdb.path /opt/prometheus-apps/prometheus/log/promlog/ \
    --web.console.templates=/opt/prometheus-apps/prometheus/consoles \
    --web.console.libraries=/opt/prometheus-apps/prometheus/console_libraries

[Install]
WantedBy=multi-user.target
